body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}

.orange-color {
  color: orange;
}

section {
  display: flex;
  margin-bottom: 200px;
}

.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.half-width {
  width: 50%;
  padding-left: 85px;
}

.half-width img {
  width: 100%;
}

.half-width2 {
  width: 50%;
  padding-left: 40px;
}

.half-width2 p {
  padding-right: 120px;
}

.half-width2 img {
  width: 100%;
}

.link-btn {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  text-transform: uppercase;
}

.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
