body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}

.orange-color {
  color: orange;
}

.flexible-container {
  display: flex;
  margin-bottom: 200px;
}

.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.half-width {
  width: 50%;
  padding-left: 85px;
}

.half-width img {
  width: 100%;
}

.half-width2 {
  width: 50%;
  padding-left: 40px;
}

.half-width2 p {
  padding-right: 120px;
}

.half-width2 img {
  width: 100%;
}

.half-width3 {
  width: 50%;
}

.link-btn {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  text-transform: uppercase;
}

.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 200px;
}

.experience-area {
  box-shadow: 15px 16px 25px gray;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 15px;
}

.experience-area h2 {
  font-size: 40px;
}

.experience {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

#web-dev-experience {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}

#full-stack-experience {
  border-left: 7px solid;
  border-image: linear-gradient(purple, tomato);
  border-image-slice: 1;
}

footer p {
  text-align: center;
  color: gray;
}
